<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.papaprogramador.presidenciales">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Utils.MyApplication"
        android:allowBackup="true"
        android:fullBackupContent="@xml/backup_descriptor"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="InnerclassSeparator">
        <activity
            android:name=".View.Activity.LoginView"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".View.Activity.MainView"
            android:theme="@style/AppThemeStatusBarTransparent"
            tools:ignore="InnerclassSeparator">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.Activity.NewAccountView"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".View.Activity.EmailVerifyView"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".View.Activity.ResetPasswordView"
            tools:ignore="InnerclassSeparator" />
        <activity
            android:name=".View.Activity.DetailOfCandidates"
            android:parentActivityName=".View.Activity.MainView"
            android:theme="@style/AppThemeStatusBarTransparent"
            tools:ignore="InnerclassSeparator">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".View.Activity.MainView" />
        </activity>
        <activity
            android:name=".Views.NewOpinion.NewOpinionView"
            android:theme="@style/AppTheme"
            tools:ignore="InnerclassSeparator" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="com.papaprogramador.presidenciales"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity android:name=".commentsModule.view.CommentsViewClass"></activity>
    </application>

</manifest>